/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');




/* HEADER BACKGROUND */

.header-bg img{
    height: 677px;
    width: 100%;
    margin-bottom: 45px;
}

.shooting-man img{
    position: absolute;
    top: 100px;
    right: 100px;
    height: 477px;
}

.shooting-man img:hover{
    transform: rotate(-20deg);
}

.navtab ul li{
    list-style: none;
    text-decoration: none;
}
.navtab ul li a{
    /* list-style: none; */
    text-decoration: none;
    color: whitesmoke;
    padding: 12%;
}

.navtab ul li a:hover{
    background-color: #E02C6D;
}

.navtab ul{
    display: flex;
    gap: 36px;
}

#logins{
    background-color: #E02C6D;
    padding: 13px 40px;
    margin-right: 36px;
    margin-top: 0px;
    color: white;
}

#logins a{
    text-decoration: none;
    color: white;
}

#logins:hover{
    background-color: #ff005d;
}
.menubar{
    position: absolute;

    height: 44px;
    left: 20%;
    right:20%;
    top: 42px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238, 174, 202, 0.63) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    justify-content: space-between;
}

.intro-text{
    position: absolute;
    width: 485px;
    height: 230px;
    left: 156px;
    top: 207px;

    font-family: 'Lexend', sans-serif;
    color: whitesmoke;
    font-size: 4em;
    font-weight: 700;

    animation: skew 3s infinite;
    transform: skew(20deg);
    animation-direction: alternate;

}
@keyframes skew {
    0% {
      transform: skewX(20deg);
    }
    100% {
      transform: skewX(-20deg);
    }
  }





  /* PLAYERS */

  .players{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 1050px;
      margin: auto;
      column-gap: 30px;
      row-gap: 30px;
  }

  .players h2{
    background: rgb(36,29,230);
    background: linear-gradient(90deg, rgba(36,29,230,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: whitesmoke;
  }

  .player{
    width: 300px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
  }

  .player img{
      width: 300px;      
      height: 256px;
  }
